<div>
    {{#each beers}}
    <div class="beer">
        {{>beerpartial this}}
        <div class="beer-inner">
            <p>First Brewed: {{this.first_brewed}}</p>
            <p>Attenuation Level: {{this.attenuation_level}}</p>
            <p>Recommended Pairing:</p>
            <ul>
                {{#each this.food_pairing}}
                <li> {{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
    <div class="buttons">
        <a class="btn btn-primary button-margin" href="/beers">Go back to beers list</a>
    </div>
</div>